
@{
    Layout = null;
}


<div class="col-sm-4">
    <div class="contact-info">
        <h2 class="title text-center">İletişim Bilgileri</h2>
        <address>
            <p>E-Ticaret A.ş.</p>
            <p>Kemalpaşa Mah. Cumhuriyet Sk. No:11/3 Serdivan 54434</p>
            <p>Sakarya TÜRKİYE</p>
            <p>Mobile: 0(264) 434 5621</p>
            <p>Fax: 0(264) 634 5622</p>
            <p>Email: info@e-ticaret.com</p>
        </address>
        <div class="social-networks">
            <h2 class="title text-center">Sosyal Ağlardan Bİzi Takip Edin</h2>
            <ul>
                <li>
                    <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="http://www.google.com"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="http://www.youtube.com"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>